/* globals.css */
@import "tailwindcss";
@tailwind utilities;


body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* .ant-table-tbody > tr > td {
  border-bottom: 1px solid white !important;
} */